{% extends 'app/base.html' %}
{% load static %}
{% block title %}Change Password{% endblock title %}
{% block main-content %}
<div class="container my-5">
 <div class="row">
 <h3>Welcome Sonam</h3>
  <div class="col-sm-2 border-end">
   <ul class="list-unstyled">
    <li class="d-grid"><a href="{% url 'profile' %}" class="btn btn-primary">Change Password</a></li>
   </ul>
  </div>
  <div class="col-sm-9 offset-sm-1">
    <h3>Change Password</h3><hr>
   <form action="" method="POST" novalidate class="shadow-sm p-5">
     {% csrf_token %}
     {% for i in form %}
    <div class="form-group">
     {{i.label_tag}} {{i}} <small class="text-danger">{{i.errors|striptags}}</small>
    </div>
    {% endfor %}
    
    <input type="submit" class="btn btn-primary mt-4" value="save">
    <br>
    
       {% if form.non_field_errors %}
       {% for i in form.non_field_errors %}
       <p class="alert alert-danger my-3">{{i}}</p>
       {% endfor %}
       {% endif %}
   </form> 
  </div>
 </div>
</div>
{% endblock main-content %}