{% extends 'app/base.html' %}
{% load static %}
{% block title %}Password Reset{% endblock title %}
{% block main-content %}
<div class="container">
 <div class="row my-3">
  <div class="col-sm-6 offset-sm-3">
   <h3>Password Reset</h3>
   <hr>
   <form action="" method="post" novalidate class="shadow p-5">
    {% csrf_token %}
       {% for i in form %}
    <div class="mb-3">
     {{i.label_tag}} {{i}} <small class="text-danger">{{i.errors|striptags}}</small>
    </div>
    {% endfor %}
    
    <input type="submit" class="btn btn-primary mt-4" value="submit">
    <br>
    
       {% if form.non_field_errors %}
       {% for i in form.non_field_errors %}
       <p class="alert alert-danger my-3">{{i}}</p>
       {% endfor %}
       {% endif %}
   </form>
  </div>
 </div>
</div>
{% endblock main-content %}